/*
 * This file is injected into every component's shadow DOM.
 * Every theme property has an associated --embeddable variable.
 * eg theme.controls.backgrounds.colors.normal becomes
 * --embeddable-controls-backgrounds-colors-normal
 */

.example-component {
  background-color: var(--embeddable-controls-backgrounds-colors-normal);
  border-radius: var(--embeddable-controls-borders-radius);
  border: 1px solid var(--embeddable-controls-borders-colors-normal);
  display: relative;
  height: 10px;
  padding-right: 8px;
  width: 100%;
}
